<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue">Student</h1>
        <div class="d-flex">
            <button id="addStu" (click)="addStudent()" (click)="showModal()" type="button" class="btn btn-success">Add Student</button>
        </div>
    </div>
</nav>

<table class="table ms-5 me-5">
    <thead>
        <tr>
            <th scope="col"> Id </th>
            <th scope="col"> Name </th>
            <th scope="col"> Address </th>
            <th scope="col"> Phone Number </th>
            <th scope="col"> Email</th>
            <th scope="col"> Educational Qualification</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let row of map | keyvalue">
            <td> {{row.value.id}} </td>
            <td> {{row.value.name}} </td>
            <td> {{row.value.address}} </td>
            <td> {{row.value.phone}} </td>
            <td> {{row.value.email}} </td>
            <td>  <button>SEE eduQua</button> </td>
            <td>
                <button (click)="onEdit(row)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"> Edit </button>
                <button  (click)="deleteStudent(row)" class="btn btn-danger ms-4"> Delete </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body form-wrapper">
            <form [formGroup] = "form">
                <div class="mb-3 form-group">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="name">
                  <span class="text-danger" *ngIf="form.controls['name'].touched && form.controls['name'].invalid"> 
                    <span *ngIf="form.controls['name'].errors?.['required']"> Name is required! </span>
                    
                  </span>  
                 </div>
                <div class="mb-3 form-group">
                  <label for="addrees" class="form-label">Address</label>
                  <input type="text" formControlName="address" class="form-control" id="address">
                  <span class="text-danger" *ngIf="form.controls['address'].touched && form.controls['address'].invalid"> 
                    <span *ngIf="form.controls['address'].errors?.['required']"> Address name is required! </span>
                  </span>  
                </div>
                <div class="mb-3 form-group">
                  <label for="phone" class="form-label">Phone Number</label>
                  <input type="text" formControlName="phone" class="form-control" id="phone">
                  <span class="text-danger" *ngIf="form.controls['phone'].touched && form.controls['phone'].invalid"> 
                    <span *ngIf="form.controls['phone'].errors?.['required']"> Phone number name is required! </span>
                    <span *ngIf="form.controls['phone'].errors?.['phoneRegex']"> Should match bangladeshi standard!</span>
                  </span>  
                </div>
                <div class="mb-3 form-group">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="email">
                  <span class="text-danger" *ngIf="form.controls['email'].touched && form.controls['email'].invalid"> 
                    <span *ngIf="form.controls['email'].errors?.['required']"> Email name is required! </span>
                    <span *ngIf="form.controls['email'].errors?.['emailRegex']"> Should match valid format of email!</span>
                  </span>       
                </div>
                  
  
                <!-- <label  class="form-label"> Educational Qualification</label> -->
                    
                
                <div class="mb-3 form-group">
                  <label for="degree" class="form-label">Degree</label>
                  <input type="text" formControlName="degree" class="form-control" id="degree">

                </div>
                <div class="mb-3 form-group">
                  <label for="institute" class="form-label">Institute</label>
                  <input type="text" formControlName="institute" class="form-control" id="institute">

                </div>
                <div class="mb-3 form-group">
                  <label for="grade" class="form-label">Grade</label>
                  <input type="text" formControlName="grade" class="form-control" id="grade">
                </div>
                <div class="mb-3 form-group">
                  <label for="from_date" class="form-label">From Date</label>
                  <input type="text" formControlName="from_date" class="form-control" id="from_date">
                </div> 
                <div class="mb-3 form-group">
                  <label for="to_date" class="form-label">To Date</label>
                  <input type="text" formControlName="to_date" class="form-control" id="to_date">
                </div> 
                
              
             </form>
        </div>
        <div class="modal-footer">
          <button (click)="addEdu()"  type="submit" id="toggleEduModal" class="ms-4 btn btn-info"><span style="font-size:20px; font-weight: 800; "> + </span></button>
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" [disabled]="form.invalid" *ngIf="showAdd" (click)="addStudentDetails()" class="btn btn-primary">Add</button>
          <button type="submit" [disabled]="form.invalid"  *ngIf="showUpdate" (click)="updateStudent()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
</div>

<!-- EduDetails -->

<!-- <div class="modal fade" id="eduModal" tabindex="-1" aria-labelledby="eduModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eduModalLabel">Qualification Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form [formGroup] = "form">
                <div class="mb-3 form-group">
                  <label for="degree" class="form-label">Degree</label>
                  <input type="text" formControlName="degree" class="form-control" id="degree">

                </div>
                <div class="mb-3 form-group">
                  <label for="institute" class="form-label">Institute</label>
                  <input type="text" formControlName="institute" class="form-control" id="institute">

                </div>
                <div class="mb-3 form-group">
                  <label for="grade" class="form-label">Grade</label>
                  <input type="text" formControlName="grade" class="form-control" id="grade">
                </div>
                <div class="mb-3 form-group">
                  <label for="from_date" class="form-label">From Date</label>
                  <input type="text" formControlName="from_date" class="form-control" id="from_date">
                </div> 
                <div class="mb-3 form-group">
                  <label for="to_date" class="form-label">To Date</label>
                  <input type="text" formControlName="to_date" class="form-control" id="to_date">
                </div> 
           </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div> -->
